<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style1.css">
</head>
<body>
	<div id="container">

<!-- Header -->
<header id="header">
	<div class="logo"></div>
	<nav class="nav"></nav>
</header>
<!-- Header -->
<!-- Banner -->
<div id="banner">
<img src="" alt="" class="slide">
</div>
<!-- Banner -->
<!-- Content -->
<main id="content">
<!-- Section1 -->
<section class="what">
	
</section>
<!-- Section1 -->
<!-- Section2 -->
<section class="section2">
<article class="blogs1">Create</article>
<article class="blogs2">Invest</article>
<article class="blogs3">Acquire</article>
</section>
<!-- Section2 -->
</main>
<!-- Content -->
<!-- Footer -->
<footer id="footer">
	
</footer>
<!-- Footer -->
</div>
</body>
</html>